<?xml version="1.0"?>
<configuration>
	<connectionStrings>
  <add name="myDateConnectionString" connectionString="Data Source=(local);Initial Catalog=myDate;User ID=sa"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.web>
		<compilation debug="true" targetFramework="4.0"/>

   <authentication mode="Forms">
     <forms loginUrl="dengru.aspx" name=".ASPXAUTH">
       
     </forms>
   </authentication>
	
 
 </system.web>

  <location path="manager">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="student">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  
</configuration>
